
config system
	option hostname 'openwrt'
	option ttylogin '1'
	option zonename 'Europe/Moscow'
	option timezone 'MSK-3'
	option urandom_seed '0'
	option log_size '64'
	option log_proto 'udp'
	option log_file '/tmp/system.log'
	option conloglevel '8'
	option cronloglevel '8'

config timeserver 'ntp'
	option enabled '1'
	option enable_server '0'
	list server '1.ru.pool.ntp.org'
	list server '0.europe.pool.ntp.org'
	list server '2.europe.pool.ntp.org'
