config server 'server'
	option ssl '1'
	option ssl_cert '/etc/ttyd/ttyd.crt'
	option ssl_key '/etc/ttyd/ttyd.key'
	option port '7681'
	option reconnect '10'
	option check_origin '0'
	option max_clients '10'
	option readonly '0'
	option debug '1 2'
	option credential '0'

config ssl 'ssl'
	option days '730'
	option bits '2048'
	option country 'RU'
	option commonname 'openwrt'
