local.conf
*.pyc
*.pyo
*.swp
*.orig
*.rej
*~
/build
/meta-*/
/openembedded-core/
!meta-tanowrt
!meta-tanowrt-hsl-atmel
!meta-tanowrt-hsl-baikal
!meta-tanowrt-hsl-intel
!meta-tanowrt-hsl-nxp
!meta-tanowrt-hsl-rockchip
!meta-tanowrt-hsl-brcm
!meta-tanowrt-hsl-swi
!meta-tanowrt-hsl-ti
