config psplash psplash
	option bin_default '/usr/bin/psplash'

	option rotation '0'
	option rotation_file '/etc/rotation'

	option bin_rotation_0 '/usr/bin/psplash-tano-h'
	option bin_rotation_90 '/usr/bin/psplash-tano-v'
	option bin_rotation_180 '/usr/bin/psplash-tano-h'
	option bin_rotation_270 '/usr/bin/psplash-tano-v'
