config global 'global'
	option default_additional_info '0'
	option default_h_mode          '0'
	option hv_mode_switch_button   '0'

config port
	option ifname  'bond0'
	option disable '1'

config port
	option name    'CPU Port'
	option ifname  'eth0'
	option type    'fixed'

config port
	option name    'Port 1'
	option ifname  'sw1p1'
	option type    'copper'

config port
	option name    'Port 2'
	option ifname  'sw1p2'
	option type    'copper'

config port
	option name    'Port 3'
	option ifname  'sw1p3'
	option type    'copper'

config port
	option name    'Port 4'
	option ifname  'sw1p4'
	option type    'copper'

config port
	option name    'Port 5'
	option ifname  'sw1p5'
	option type    'copper'

config port
	option name    'Port 6 (SFP)'
	option ifname  'sw1p6'
	option type    'sfp'
