config mstpd global
	option enabled       '1'
	option loglevel      '1'
	list bridge          'br-lan'

config bridge 'lan'
	option forcevers     'rstp'
	option maxwait       '5'
	option maxage        '20'
	option treeprio      '8'
	option fdelay        '15'
	option maxhops       '20'
	option txholdcount   '6'
	option hello         '2'

config bridge_port 'sw1p1'
	option pathcost      '0'
	option adminedge     'no'
	option autoedge      'yes'
	option p2p           'auto'
	option bpduguard     'no'
	option restrrole     'no'
	option restrtcn      'no'
	option treeprio      '8'

config bridge_port 'sw1p2'
	option pathcost      '0'
	option adminedge     'no'
	option autoedge      'yes'
	option p2p           'auto'
	option bpduguard     'no'
	option restrrole     'no'
	option restrtcn      'no'
	option treeprio      '8'

config bridge_port 'sw1p3'
	option pathcost      '0'
	option adminedge     'no'
	option autoedge      'yes'
	option p2p           'auto'
	option bpduguard     'no'
	option restrrole     'no'
	option restrtcn      'no'
	option treeprio      '8'

config bridge_port 'sw1p4'
	option pathcost      '0'
	option adminedge     'no'
	option autoedge      'yes'
	option p2p           'auto'
	option bpduguard     'no'
	option restrrole     'no'
	option restrtcn      'no'
	option treeprio      '8'

config bridge_port 'sw1p6'
	option pathcost      '0'
	option adminedge     'no'
	option autoedge      'yes'
	option p2p           'auto'
	option bpduguard     'no'
	option restrrole     'no'
	option restrtcn      'no'
	option treeprio      '8'
