// SPDX-License-Identifier: MIT
/*
 * Device Tree fragment for NXP LS1028A RDB board,
 * Tano MKB004LW mikroBUS module
 *
 * Requires a NXP LS1028A RDB board
 *
 * Copyright (c) 2021 Tano Systems LLC. All Rights Reserved.
 * Anton Kikin <a.kikin@tano-systems.com>
 */

/dts-v1/;
/plugin/;

&i2c0 {
	i2c-mux@77 {
		i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x7>;

			pca9536: pca9536@41 {
				compatible = "nxp,pca9536";
				reg = <0x41>;
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <4>;
				vcc-supply = <&sb_3v3>;
			};
		};
	};
};

&dspi2 {
	bus-num = <2>;
	status = "okay";

	mikrobus@0 {
		compatible = "semtech,sx1301";
		reg = <0>;
		spi-max-frequency = <2000000>;
		fsl,spi-cs-sck-delay = <1000000>;
		fsl,spi-sck-cs-delay = <50>;
	};
};
