#
# SPDX-License-Identifier: MIT
#
# Copyright (c) 2019 Tano Systems LLC. All rights reserved.
# Authors: Anton Kikin <a.kikin@tano-systems.com>
#
# Note that '_' in cgroup names will be replaced by '/'.
#
# _root_
# └── openwrt    (cpu.shares = 1024)
#     ├── low        (cpu.shares = 256)
#     ├── normal     (cpu.shares = 1024)
#     └── high       (cpu.shares = 4096)
#

#
# Global
#
config cgroups 'cgroups'
	option enabled '1'
	option defgroup 'openwrt/normal'

#
# Root cgroup
#
config cgroup '_root_'
	list option 'memory.move_charge_at_immigrate = 1'
	list option 'memory.use_hierarchy = 1'

#
# 'openwrt' cgroup
#
config cgroup 'openwrt'
	list option 'cpu.shares = 1024'
	list option 'memory.limit_in_bytes = -1'
	list option 'memory.move_charge_at_immigrate = 1'
	list option 'cpuset.cpus = 0'
	list option 'cpuset.mems = 0'

config cgroup 'openwrt_low'
	list option 'cpu.shares = 256'
	list option 'memory.limit_in_bytes = -1'
	list option 'memory.move_charge_at_immigrate = 1'
	list option 'cpuset.cpus = 0'
	list option 'cpuset.mems = 0'

config cgroup 'openwrt_normal'
	list option 'cpu.shares = 1024'
	list option 'memory.limit_in_bytes = -1'
	list option 'memory.move_charge_at_immigrate = 1'
	list option 'cpuset.cpus = 0'
	list option 'cpuset.mems = 0'

config cgroup 'openwrt_high'
	list option 'cpu.shares = 4096'
	list option 'memory.limit_in_bytes = -1'
	list option 'memory.move_charge_at_immigrate = 1'
	list option 'cpuset.cpus = 0'
	list option 'cpuset.mems = 0'

#
# Processes -> cgroups mappings
#
config procmap 'procmap'
	list procmap 'ubusd = openwrt/high'
	list procmap 'uhttpd = openwrt/low'
	list procmap 'collectd = openwrt/low'
