#
# Copyright (c) 2019 Tano Systems. All Rights Reserved.
# Author: Anton Kikin <a.kikin@tano-systems.com>
#
# Example UCI configuration file for rngd
#
config rngd
	# Enable/disable this rngd instance
	option enabled '0'

	# Kernel device used for random number input (default: /dev/hwrng)
	option in_device '/dev/hwrng'

	# Kernel device used for random number output (default: /dev/random)
	option out_device '/dev/random'

	# The command that will be called before running rngd.
	# The command will be called with two arguments:
	#   <precmd> "in_device" "out_device"
	# If the result of the command is not 0, the rngd service
	# will not be started.
	# option precmd '/usr/bin/script.sh'

	# Once we start doing it, feed entropy to random-device until at
	# least fill-watermark bits of entropy are available in its entropy
	# pool (default: 2048). Setting this too high will cause rngd to
	# dominate the contents of the entropy pool. Low values will hurt
	# system performance during entropy starves. Do not set
	# fill-watermark above the size of the entropy pool (usually 4096 bits).
	# option watermark '2048'

	# Number of bytes written to random-device at a time (default: 64)
	# option random_step '64'

	# Interval written to random-device when the entropy pool is full,
	# in seconds, or 0 to disable (default: 60)
	# option timeout '60'
