config mstpd global
	option enabled       '1'
	option loglevel      '1'
	list bridge          'br-lan'

config bridge 'lan'
	option forcevers     'rstp'
	option maxwait       '5'
	option maxage        '20'
	option treeprio      '8'
	option fdelay        '15'
	option maxhops       '20'
	option txholdcount   '6'
	option hello         '2'

	option port_swp0_name          'swp0'
	option port_swp0_pathcost      '0'
	option port_swp0_adminedge     'no'
	option port_swp0_autoedge      'yes'
	option port_swp0_p2p           'auto'
	option port_swp0_bpduguard     'no'
	option port_swp0_restrrole     'no'
	option port_swp0_restrtcn      'no'
	option port_swp0_treeprio      '8'

	option port_swp1_name          'swp1'
	option port_swp1_pathcost      '0'
	option port_swp1_adminedge     'no'
	option port_swp1_autoedge      'yes'
	option port_swp1_p2p           'auto'
	option port_swp1_bpduguard     'no'
	option port_swp1_restrrole     'no'
	option port_swp1_restrtcn      'no'
	option port_swp1_treeprio      '8'

	option port_swp2_name          'swp2'
	option port_swp2_pathcost      '0'
	option port_swp2_adminedge     'no'
	option port_swp2_autoedge      'yes'
	option port_swp2_p2p           'auto'
	option port_swp2_bpduguard     'no'
	option port_swp2_restrrole     'no'
	option port_swp2_restrtcn      'no'
	option port_swp2_treeprio      '8'

	option port_swp3_name          'swp3'
	option port_swp3_pathcost      '0'
	option port_swp3_adminedge     'no'
	option port_swp3_autoedge      'yes'
	option port_swp3_p2p           'auto'
	option port_swp3_bpduguard     'no'
	option port_swp3_restrrole     'no'
	option port_swp3_restrtcn      'no'
	option port_swp3_treeprio      '8'

#	option port_swp4_name          'swp4'
#	option port_swp4_pathcost      '0'
#	option port_swp4_adminedge     'no'
#	option port_swp4_autoedge      'yes'
#	option port_swp4_p2p           'auto'
#	option port_swp4_bpduguard     'no'
#	option port_swp4_restrrole     'no'
#	option port_swp4_restrtcn      'no'
#	option port_swp4_treeprio      '8'

	option port_swp5_name          'swp5'
	option port_swp5_pathcost      '0'
	option port_swp5_adminedge     'no'
	option port_swp5_autoedge      'yes'
	option port_swp5_p2p           'auto'
	option port_swp5_bpduguard     'no'
	option port_swp5_restrrole     'no'
	option port_swp5_restrtcn      'no'
	option port_swp5_treeprio      '8'
