config psplash 'config'
	option fbdev_id '0'
	option image '/usr/share/psplash/psplash-tano.png'
	option angle '0'
	option angle_file '/etc/rotation'
	option startup_msg 'Booting system, please wait...'
	option ignore_msg_cmds '0'
	option img_fullscreen '0'
	option img_split_numerator '5'
	option img_split_denominator '6'
	option msg_padding '4'
	option bar_width '340'
	option bar_height '30'
	option bar_border_width '2'
	option bar_border_space '2'

config psplash_colors 'colors'
	option background '002d47'
	option text 'e5f7ff'
	option bar 'e5f7ff'
	option bar_background '001b29'
	option bar_border 'e5f7ff'
	option bar_border_space '000000'
