config lldpd config
	option enable_cdp 1
	option enable_fdp 1
	option enable_sonmp 1
	option enable_edp 1

	option agentxsocket /var/run/agentx.sock

	option lldp_tx_interval 30
	option lldp_class 4
	option lldp_location ""

	option filter 17

	# If empty, the distribution description is sent
	option lldp_description "Boardcon EM3568 SBC"

	# Interfaces to listen on
	list interface "eth0"
	list interface "eth1"
