config global 'global'
	option default_additional_info '0'
	option default_h_mode          '0'
	option hv_mode_switch_button   '1'

config port
	option ifname 'ifb0'
	option disable '1'

config port
	option ifname 'ifb1'
	option disable '1'

config port
	option name 'Ethernet'
	option ifname 'eth0'
	option type 'copper'

config port 'ppp0'
	option name 'PPP Connection'
	option ifname 'ppp0'
	option type 'ppp'

config port '3g_modem'
	option name 'Modem Connection'
	option ifname '3g-modem'
	option type 'gprs'
