#
# Copyright (c) 2019 Tano Systems. All Rights Reserved.
# Author: Anton Kikin <a.kikin@tano-systems.com>
#
# Example UCI configuration file for mbusd
#
config mbusd 'ttyUSB0'
	option enable '0'

	# Specifies log file name
	option log_file '/var/log/mbusd/ttyUSB0.log'

	# Specifies log verbosity level (0...9)
	#   0 for errors only
	#   1 for warnings
	#   2 for also information messages
	# log levels above 2 forces logging of information about
	# additional internal events
	option log_verbosity '1'

	# Specifies serial port device name
	option device '/dev/ttyUSB0'

	# Specifies serial port speed
	option speed '115200'

	# Serial port parity
	option parity 'even'

	# Serial port stop bits
	option stopbits '1'

	# Specifies TCP address to bind (default 0.0.0.0)
	option bind '0.0.0.0'

	# Specifies TCP port number (default 502)
	option port '502'

	# Specifies maximum number of simultaneous TCP connections
	option maxconn '32'

	# Specifies connection timeout value in seconds (0 disables timeout)
	option timeout '60'

	# Specifies maximum number of request retries (0 disables retries)
	option retries '3'

	# Specifies pause between requests in milliseconds
	option pause '100'

	# Specifies response wait time in milliseconds
	option wait '500'
