config global 'global'
	option default_additional_info '0'
	option default_h_mode          '0'
	option hv_mode_switch_button   '0'

config port
	option ifname  'bond0'
	option disable '1'

config port
	option name    '1G MAC0'
	option ifname  'eno0'
	option type    'copper'

config port
	option name    '1G SWP0'
	option ifname  'swp0'
	option type    'copper'

config port
	option name    '1G SWP1'
	option ifname  'swp1'
	option type    'copper'

config port
	option name    '1G SWP2'
	option ifname  'swp2'
	option type    'copper'

config port
	option name    '1G SWP3'
	option ifname  'swp3'
	option type    'copper'

# eno2 <--> swp4
config port
	option disable '1'
	option name    'eno2 (internal)'
	option ifname  'eno2'
	option type    'fixed'

config port
	option name    'SWP4 (internal)'
	option ifname  'swp4'
	option type    'fixed'

# eno3 <--> swp5
config port
	option disable '1'
	option name    'eno3 (internal)'
	option ifname  'eno3'
	option type    'fixed'

config port
	option name    'SWP5 (internal)'
	option ifname  'swp5'
	option type    'fixed'
