
config global 'global'
	option default_additional_info '1'
	option default_h_mode          '0'
	option hv_mode_switch_button   '0'

config port
	option ifname  'ifb0'
	option disable '1'

config port
	option ifname  'ifb1'
	option disable '1'

config port
	option name    'Port 1'
	option ifname  'eth0'
	option type    'copper'
