config lldpd config
	option enable_cdp 1
	option enable_fdp 1
	option enable_sonmp 1
	option enable_edp 1

	option agentxsocket /var/run/agentx.sock
	
	option lldp_tx_interval 30
	option lldp_tx_hold 4
	option lldp_class 4
	option lldp_platform ""

	option filter 15
	option readonly_mode 0

	# if empty, the distribution description is sent
	option lldp_description "TanoWrt System"

	# if empty, default hostname is sent
	option lldp_hostname "tanowrt"

	# interfaces to listen on
	list interface "eth0"
