config mstpd global
	option enabled   '1'
	option loglevel  '2'

config bridge 'lan'
	option stp                  'on'
	option forcevers            'rstp'
	option maxwait              '5'
	option maxage               '20'
	option treeprio             '8'
	option fdelay               '15'
	option maxhops              '20'
	option txholdcount          '6'
	option hello                '2'
	option port_eth0_name       'eth0'
	option port_eth0_pathcost   '0'
	option port_eth0_adminedge  'no'
	option port_eth0_autoedge   'yes'
	option port_eth0_p2p        'auto'
	option port_eth0_bpduguard  'no'
	option port_eth0_restrrole  'no'
	option port_eth0_restrtcn   'no'
	option port_eth0_treeprio   '8'
	option port_eth0_treecost   '0'
