config mstpd global
	option enabled  '1'
	option loglevel '1'
	list bridge     'br-lan'

config bridge 'lan'
	option forcevers            'rstp'
	option maxwait              '5'
	option maxage               '20'
	option treeprio             '8'
	option fdelay               '15'
	option txholdcount          '6'
	option hello                '2'
	option ageing               '300'
	option port_eth0_name       'eth0'
	option port_eth0_pathcost   '0'
	option port_eth0_adminedge  'no'
	option port_eth0_autoedge   'yes'
	option port_eth0_p2p        'auto'
	option port_eth0_bpduguard  'no'
	option port_eth0_restrrole  'no'
	option port_eth0_restrtcn   'no'
	option port_eth0_treeprio   '8'
